body {
  font-family: Tahoma, sans-serif;
}
.header {
  font-size: 20px;
  line-height: 1.5;
  margin: 60px auto;
}
.header span {
  display: block;
  font-weight: 300;
}
.header .form-header,
.header .section-header {
  font-weight: 900;
  margin-bottom: 45px;
  font-size: 20px;
}
.section {
  padding: 30px;
}
.container img {
  margin-bottom: 10px;
  margin-top: 30px;
}
.video {
  margin-bottom: 20px;
}
.form-btn {
  background-color: #3c3cdd;
  margin: 10px auto;
}
.main-form-btn {
  width: 300px;
}
.form {
  border: 5px solid #3c3cdd;
  padding: 30px 20px;
}
.form input {
  margin-bottom: 12px;
}
.feature {
  margin: 60px auto;
}
.feature p {
  margin-top: 10px;
}
.feature button {
  margin-top: 100px;
  display: inline-block;
}
.friend {
  text-align: center;
}
.friend img {
  margin: 20px;
}
